.icon {
	color: white !important;
}

.color {
	color: #534ebf;
}

.icon-container {
	margin-left: 10% !important;
}

.addPost-button {
	background-color: #534ebf !important;
	width: 100%;
	padding: 1%;
	margin: 1% 0% !important;
}

.addPost-container {
	width: 100%;
	padding: 1.2%;
	border-radius: 5px;
	/* box-shadow: 0px 0px 5px 0px rgb(200, 200, 200); */
}
textarea {
	resize: none !important;
	border-radius: 5px !important;
	width: 100%;
}

.addPost-tags {
	margin-top: 2%;
	padding: 2%;
	width: 100%;
	border-radius: 5px;
	border: 0.5px solid rgb(219, 219, 219);
}

.upload-post-container {
	margin-top: 2%;
	padding: 2%;
	width: 100%;
	border-radius: 5px;
	border: 0.5px solid rgb(219, 219, 219);
}

.upload-list-inline .ant-upload-list-item {
	float: left;
	width: 200px;
	margin-right: 8px;
}

.upload-list-inline [class*="-upload-list-rtl"] .ant-upload-list-item {
	float: right;
}

.my-accordian {
	margin: 15px auto;
	border: none !important;
	border-radius: 10px !important;
	padding: 1.2%;
}

.accordion-body {
	border: none !important;
	border-radius: 10px !important;
}

.accordion-item {
	border: none !important;
	border-radius: 10px !important;
	background: transparent !important;
}

.accordion-button {
	color: #534ebf !important;
	border: none !important;
	border-radius: 10px !important;
	font-weight: bolder !important;
}

.accordion-button:not(.collapsed) {
	border: none !important;
	border-radius: 10px !important;
	background-color: white !important;
	font-weight: bolder !important;
}

.fix-add-post {
	margin-top: 5%;

	z-index: 1;
}
