.post-card {
	border: none !important;
	margin: 10px auto !important;
	padding: 20px 20px 20px 20px !important;
	cursor: pointer;
	background: white;
	border-radius: 10px !important;
	box-shadow: 0px 0px 6px 0px rgb(200, 200, 200) !important;
	transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}
.post-card:hover {
	transform: scale(1.03);
}

.icon-style {
	font-size: 28px !important;
	color: #534edf;
}

.post-info {
	margin-left: 5px;
	font-size: 20px;
	color: #534edf;
}

@media screen and (max-width: 560px) {
	.post-card {
		transition: none;
		border-radius: 0px !important;
	}
	.post-card:hover {
		transform: none;
	}
}
