
.profile-maindiv{
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid aliceblue;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 3px rgb(198, 209, 219);
}