.sign-button {
  margin-top: 3vw !important;
  background-color: #534ebf;
}

.submit-button{
  display: flex !important;
  justify-content: space-around !important;
}
.signup-form {
  position: absolute;
  right: 19%;
  top: 10%;
  left: 50%;
  background: white;
  padding: 2vw;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
}

.page {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .secure-login-svg img {
    display: none;
  }
  .signup-form {
    position: inherit;
    margin-top: 5vw;
    right: 0%;
  }
}

@media screen and (max-width: 559px) {
  body {
    position: inherit;
    right: 0%;
  }

  .signup-form {
    box-shadow: none;
    padding: 0%;
    margin-top:5vw;
  }
}
